
@{
    ViewBag.Title = "Info";
    string nombre = ViewBag.nombre;
    string codigo = ViewBag.codigo;
    string cuenta = ViewBag.cuenta;
}

<h4>Hola @nombre</h4>
<hr />
<div class="row">
    Tu Código es: @codigo
</div>
<div class="row">
    <danger>*Importante: Apunta tu código, te servirá en el inicio de sesión.</danger>
</div>
<hr />
<div class="row">
    Tu Número de cuenta es: @cuenta
</div>
<div class="row">
    Tu Saldo inicial Es es: Q.1,000.00
</div>
<hr />
<div class="row">
    <a href="@Url.Action("Login", "Usuario")" class="btn btn-lg btn-info btn-block">Iniciar Sesión</a>
</div>